body {
  background-image: url("./bg-home.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}
p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
}

.row {
  width: 100%;
}
.nav-custom {
  margin-top: 1%;
}
.covid-img img {
  width: 8%;
  margin-left: 2%;
}
.faqs {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  color: white;
  font-size: 1.3rem;
  font-weight: 500;
  float: right;
  margin-right: 2%;
}

.faqs:hover {
  color: #13bfb1;
  border-width: 80%;
}
.main {
  margin-top: 1%;
}

a {
  text-decoration: none;
}

.col {
  display: flex;
  justify-content: center;
}

.card {
  width: 27vw;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  border-radius: 8px;
}
.card-title {
  font-family: "Open Sans", sans-serif;
  padding: 10px;
  text-align: center;
  font-weight: 700;
  color: black;
  font-size: 1.5rem;
}

@media only screen and (max-width: 600px) {
  .card {
    width: 90vw;
  }
  .nav-custom {
    margin-top: 3%;
  }
  .covid-img img {
    width: 3rem;
    margin-left: 2%;
  }
}
